# Ignore all node_modules in any folder
**/node_modules/

# Ignore Next.js build output
**/.next/
**/out/

# Ignore environment files
**/.env

# Ignore test output
coverage/
*.log

# Editor/project-specific junk
.DS_Store
.vscode/
.idea/

# Vercel deployment folder (if using Vercel)
.vercel/
